<!-- Contenido para cargar en el main -->
<div class="flex flex-wrap">
    <!-- Contenedor de Artículos más vendidos -->
    <div class="p-4 w-full lg:w-2/3 flex-grow">
        <div class="py-4 px-6 bg-white rounded-lg shadow-md h-full">
            <h2 class="text-lg font-jakarta mb-4 font-semibold">Artículos más vendidos</h2>

            <!-- Contenedor de desplazamiento horizontal para la tabla -->
            <div class="max-h-64 scrollbar overflow-x-auto">
                <table class="min-w-full bg-white">
                    <thead class="bg-zinc-50 shadow-md rounded-md font-jakarta">
                        <tr>
                            <th class="text-left py-2 px-4">Artículo</th>
                            <th class="text-left py-2 px-4">Stock</th>
                            <th class="text-left py-2 px-4">Estado</th>
                            <th class="text-center py-2 px-4">Cantidad</th>
                            <th class="text-left py-2 px-4">Ventas</th>
                        </tr>
                    </thead>
                    <tbody class="text-outfit text-base">
                        <tr>
                            <td class="text-left p-3">
                                Four Pack Agua Tónica
                                <div class="text-xs text-gray-300">123456789012</div>
                            </td>
                            <td class="text-left p-3">33</td>
                            <td class="text-left p-3">
                                <div class="relative bg-gray-100 h-2 rounded shadow-md">
                                    <div class="bg-yellow-400 h-2 rounded" style="width: 53.33%;"></div>
                                </div>
                            </td>
                            <td class="text-center p-3">8</td>
                            <td class="text-left p-3">S/ 595.00</td>
                        </tr>
                        <tr>
                            <td class="text-left p-3">
                                Four Pack Agua Tónica
                                <div class="text-xs text-gray-300">123456789012</div>
                            </td>
                            <td class="text-left p-3">33</td>
                            <td class="text-left p-3">
                                <div class="relative bg-gray-100 h-2 rounded shadow-md">
                                    <div class="bg-yellow-400 h-2 rounded" style="width: 53.33%;"></div>
                                </div>
                            </td>
                            <td class="text-center p-3">8</td>
                            <td class="text-left p-3">S/ 595.00</td>
                        </tr>
                        <tr>
                            <td class="text-left p-3">
                                Fernet
                                <div class="text-xs text-gray-300">234567890123</div>
                            </td>
                            <td class="text-left p-3">18</td>
                            <td class="text-left p-3">
                                <div class="relative bg-gray-100 h-2 rounded shadow-md">
                                    <div class="bg-blue-400 h-2 rounded" style="width: 20%;">
                                    </div>
                                </div>
                            </td>
                            <td class="text-center p-3">3</td>
                            <td class="text-left p-3">S/ 89.00</td>
                        </tr>
                        <tr>
                            <td class="text-left p-3">
                                Bolígrafo
                                <div class="text-xs text-gray-300">345678901234</div>
                            </td>
                            <td class="text-left p-3">25</td>
                            <td class="text-left p-3">
                                <div class="relative bg-gray-100 h-2 rounded shadow-md">
                                    <div class="bg-purple-400 h-2 rounded" style="width: 13.33%;"></div>
                                </div>
                            </td>
                            <td class="text-center p-3">2</td>
                            <td class="text-left p-3">S/ 2.00</td>
                        </tr>
                        <tr>
                            <td class="text-left p-3">
                                Manzanas
                                <div class="text-xs text-gray-300">456789012345</div>
                            </td>
                            <td class="text-left p-3">84</td>
                            <td class="text-left p-3">
                                <div class="relative bg-gray-100 h-2 rounded shadow-md">
                                    <div class="bg-green-400 h-2 rounded" style="width: 6.67%;">
                                    </div>
                                </div>
                            </td>
                            <td class="text-center p-3">1</td>
                            <td class="text-left p-3">S/ 3.00</td>
                        </tr>
                        <tr>
                            <td class="text-left p-3">
                                A31
                                <div class="text-xs text-gray-300">567890123456</div>
                            </td>
                            <td class="text-left p-3">-50</td>
                            <td class="text-left p-3">
                                <div class="relative bg-gray-100 h-2 rounded shadow-md">
                                    <div class="bg-red-400 h-2 rounded" style="width: 6.67%;">
                                    </div>
                                </div>
                            </td>
                            <td class="text-center p-3">1</td>
                            <td class="text-left p-3">S/ 150.00</td>
                        </tr>
                        <tr>
                            <td class="text-left p-3">
                                Bolígrafo
                                <div class="text-xs text-gray-300">345678901234</div>
                            </td>
                            <td class="text-left p-3">25</td>
                            <td class="text-left p-3">
                                <div class="relative bg-gray-100 h-2 rounded shadow-md">
                                    <div class="bg-purple-400 h-2 rounded" style="width: 13.33%;"></div>
                                </div>
                            </td>
                            <td class="text-center p-3">2</td>
                            <td class="text-left p-3">S/ 2.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Contenedor Ventas -->
    <div class="p-4 w-full lg:w-1/3 flex-grow">
        <div class="h-full flex flex-col justify-between space-y-4">
            <div class="bg-purple-500 text-white p-4 rounded-lg shadow-lg flex-1">
                <h2 class="text-xl font-bold">Ventas hoy</h2>
                <p>S/ 0.00</p>
                <p class="text-sm">↓ 0 % Desde ayer</p>
                <input type="range" min="0" max="100" value="0" class="w-full mt-2" />
            </div>

            <div class="bg-blue-500 text-white p-4 rounded-lg shadow-lg flex-1">
                <h2 class="text-xl font-bold">Ventas semana</h2>
                <p>S/ 0.00</p>
                <p class="text-sm">↓ 0 % Desde la semana pasada</p>
                <input type="range" min="0" max="100" value="0" class="w-full mt-2" />
            </div>

            <div class="bg-teal-500 text-white p-4 rounded-lg shadow-lg flex-1">
                <h2 class="text-xl font-bold">Ventas mes</h2>
                <p>S/ 1,685.00</p>
                <p class="text-sm">↓ 0 % Desde el mes pasado</p>
                <input type="range" min="0" max="100" value="0" class="w-full mt-2" />
            </div>
        </div>
    </div>
</div>


<!-- Graficos -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
  <!-- Gráfico de Compras -->
  <div class="bg-white p-4 rounded-lg shadow-md">
      <h2 class="text-xl font-semibold font-jakarta mb-4">Compra de los últimos 10 días</h2>
      <div id="comprasChart" style="height: 400px;"></div>
  </div>
  <!-- Gráfico de Ventas -->
  <div class="bg-white p-4 rounded-lg shadow-md">
      <h2 class="text-xl font-semibold font-jakarta mb-4">Venta en los últimos 12 meses</h2>
      <div id="ventasChart" style="height: 400px;"></div>
  </div>
</div>

<script id="mount" type="text/javascript">
// Datos para el gráfico de Compras
const comprasOptions = {
    chart: {
        type: 'bar',
        height: 400
    },
    series: [{
        name: 'Compras',
        data: [4000, 3000, 2000, 5000, 1000, 3000, 4000, 2000, 1000, 3000]
    }],
    xaxis: {
        categories: ['27-7', '26-7', '19-6', '14-6', '29-4', '16-4', '15-4', '12-4', '10-4', '31-3']
    },
    colors: ['#36a2eb'],
    yaxis: {
        title: {
            text: 'Monto'
        },
        min: 0,
        max: 5000
    },
    title: {
        text: 'Compra de los últimos 10 días',
        align: 'center'
    }
};

// Datos para el gráfico de Ventas
const ventasOptions = {
    chart: {
        type: 'bar',
        height: 400
    },
    series: [{
        name: 'Ventas',
        data: [12000, 10000, 8000, 15000, 9000, 11000, 13000, 14000, 12000, 10000, 9000, 11000]
    }],
    xaxis: {
        categories: ['Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio']
    },
    colors: ['#ff6384'],
    yaxis: {
        title: {
            text: 'Monto'
        },
        min: 0,
        max: 15000
    },
    title: {
        text: 'Venta en los últimos 12 meses',
        align: 'center'
    }
};

const chartUsed = [];

// Renderizar los gráficos
const onLoadDashboard = () => {
    const comprasChart = new ApexCharts(document.querySelector('#comprasChart'), comprasOptions);
    comprasChart.render();

    const ventasChart = new ApexCharts(document.querySelector('#ventasChart'), ventasOptions);
    ventasChart.render();
    chartUsed.push(comprasChart, ventasChart);
};
var onUnmountDashboard = () => {
    chartUsed.forEach(chart => {
        chart.destroy();
    });
  };
  onLoadDashboard();

</script>

<script id="unmount" type="text/javascript">
  onUnmountDashboard();
</script>

<!-- <script id="mount" type="text/javascript">
  console.log('Ejecutanto js despues de html cargado.....');
</script>
<script id="unmount">
</script> -->
