<div class="flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-4xl">
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-2xl font-jakarta font-semibold flex items-center">
                <span class="material-icons mr-2">store</span>
                Administración de Productos
            </h2>

        </div>

        <div class="grid grid-cols-2 gap-6">
            <div>
                <label for="codigo-barras" class="block text-sm font-outfit text-gray-700">Código de barras</label>
                <div class="relative mt-1">
                    <span
                        class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">qr_code_scanner</span>
                    <input type="text" id="codigo-barras"
                        class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </div>
            </div>


            <div>
                <label for="producto" class="block text-sm font-outfit text-gray-700">Producto</label>
                <div class="relative mt-1">
                    <span
                        class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">shopping_bag</span>
                    <input type="text" id="producto"
                        class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </div>
            </div>

            <div class="col-span-2">
                <label for="descripcion" class="block text-sm font-outfit text-gray-700">Descripción</label>
                <div class="relative mt-1">
                    <span
                        class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">description</span>
                    <input type="text" id="descripcion"
                        class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </div>
            </div>

            <div>
                <label for="categoria" class="block text-sm font-outfit text-gray-700">Categoría</label>
                <div class="relative mt-1">
                    <span
                        class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">category</span>
                    <select id="categoria"
                        class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        <option>Sin Categoría</option>
                    </select>
                </div>
            </div>

            <div>
                <label for="proveedor" class="block text-sm font-outfit text-gray-700">Proveedor</label>
                <div class="relative mt-1">
                    <span
                        class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">person</span>
                    <select id="proveedor"
                        class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        <option>Sin Proveedor</option>
                    </select>
                </div>
            </div>


            <div class="col-span-2">
                <h3 class="text-lg font-outfit text-gray-700 mb-2">Inventario de Producto</h3>
                <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                    <div>
                        <label for="precio-costo" class="block text-sm font-outfit text-gray-700">Precio Costo</label>
                        <div class="relative mt-1">
                            <span
                                class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">attach_money</span>
                            <input type="text" id="precio-costo"
                                class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                    </div>

                    <div>
                        <label for="precio-venta" class="block text-sm font-outfit text-gray-700">Precio Venta</label>
                        <div class="relative mt-1">
                            <span
                                class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">attach_money</span>
                            <input type="text" id="precio-venta"
                                class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                    </div>

                    <div>
                        <label for="precio-mayoreo" class="block text-sm font-outfit text-gray-700">Precio
                            Mayoreo</label>
                        <div class="relative mt-1">
                            <span
                                class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">attach_money</span>
                            <input type="text" id="precio-mayoreo"
                                class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 pt-4">
                    <div>
                        <label for="stock" class="block text-sm font-outfit text-gray-700">Stock</label>
                        <div class="relative mt-1">
                            <span
                                class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">inventory</span>
                            <input type="number" id="stock"
                                class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                    </div>

                    <div class="md:col-span-2">
                        <label for="fecha-vencimiento" class="block text-sm font-outfit text-gray-700">Fecha
                            Vencimiento</label>
                        <div class="relative mt-1">
                            <span
                                class="material-icons absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400">event</span>
                            <input type="date" id="fecha-vencimiento"
                                class="pl-10 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-span-2 flex justify-center">
                <button type="submit"
                    class="w-1/2 justify-center flex items-center px-4 py-3 bg-gray-700 text-white rounded-lg shadow-md hover:bg-slate-600 focus:outline-none transition-all">
                    <span class="material-icons mr-2">save</span> Guardar producto
                </button>
            </div>
        </div>
    </div>
</div>

<script id="mount">
    window.initFlowbite();
</script>